<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity android:name=".Activity2" android:exported="true"/>
        <activity android:name=".Activity3" android:exported="true"/>
        <activity android:name=".Activity4" android:exported="true"/>
        <activity android:name=".Activity5" android:exported="true"/>
        <activity android:name=".Activity6" android:exported="true"/>
        <activity android:name=".Activity7" android:exported="true"/>
        <activity android:name=".Activity8" android:exported="true"/>
        <activity android:name=".Activity9" android:exported="true"/>
        <activity android:name=".Activity10_mbti" android:exported="true"/>
        <activity android:name=".Activity11" android:exported="true"/>

        <activity android:name=".Activity13" android:exported="true"/>
        <activity android:name=".Activity14" android:exported="true"/>
        <activity android:name=".Activity15" android:exported="true"/>
        <activity android:name=".Activity16" android:exported="true"/>
        <activity android:name=".Activity17" android:exported="true"/>
        <activity android:name=".Activity18" android:exported="true"/>
        <activity android:name=".Activity19" android:exported="true"/>
        <activity android:name=".Activity20" android:exported="true"/>
        <activity android:name=".Activity21" android:exported="true"/>
        <activity android:name=".Activity22_mbti_result" android:exported="true"/>

        <activity android:name=".Activity23_my" android:exported="true"/>
        <activity android:name=".Activity24_searching" android:exported="true"/>
        <activity android:name=".Activity25" android:exported="true"/>
        <activity android:name=".Activity26" android:exported="true"/>
        <activity android:name=".Activity27" android:exported="true"/>



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>